{% extends '@AcMarchePresse/base.html.twig' %}

{% block body %}

    <div class="card mb-3">
        <div class="card-header">
            <h3>Rechercher</h3>
        </div>
        <div class="card-body">
            {{ form_start(form) }}
            {{ form_errors(form) }}
            <div class="row">
                <div class="col-6">{{ form_row(form.keyword) }}</div>
                <div class="col-6">
                    {{ form_row(form.year) }}
                </div>
            </div>
            <button class="btn btn-primary" type="submit"><i class="ti ti-device-floppy"></i> Rechercher</button>
            {{ form_end(form) }}

            {% if search %}
                <h5 class="text-success mt-3">{{ count }} article(s) trouvé(s)</h5>
                {% for article in articles %}
                    <div class="row">
                        <div class="col-md-4">
                            {% if 'image' in article.mime %}
                                <img src="{{ article.id|article_path }}"
                                     alt="img"
                                     class="img-thumbnail mb-2 ">
                            {% endif %}
                        </div>
                        <div class="col-md-2">
                            <a href="{{ path('article_show', {'id': article.id}) }}">{{ article.nom }}</a>
                        </div>
                        <div class="col-md-2">
                            {{ article.date_article|date('d-m-Y') }}
                        </div>
                        <div class="col-md-4">
                            {{ article.content|u.truncate(220,'...') }}
                        </div>
                    </div>
                {% else %}
                    <p>Rien trouvé</p>
                {% endfor %}
            {% endif %}
        </div>
    </div>

{% endblock %}
