{% extends '@AcMarchePresse/base.html.twig' %}

{% block body %}

    <div class="card mb-3">
        <div class="card-header">
            <h3>Rechercher</h3>
        </div>
        <div class="card-body">
            {{ form_start(form) }}
            {{ form_errors(form) }}
            <div class="row">
                <div class="col-6">{{ form_row(form.keyword) }}</div>
                <div class="col-6">
                    {{ form_row(form.year) }}
                </div>
            </div>
            <button class="btn btn-primary" type="submit"><i class="ti ti-device-floppy"></i> Rechercher</button>
            {{ form_end(form) }}

            {% if search %}
                <h5 class="text-success mt-3">{{ count }} article(s) trouvé(s)</h5>
                <table class="table table-bordered">
                    {% for article in articles %}
                        <tr>
                            <td>
                                {% if 'image' in article.mime %}
                                    <img src="{{ vich_uploader_asset(article, 'file')| imagine_filter('miniature') }}"
                                         alt="img"
                                         class="img-thumbnail mb-2 ">
                                {% endif %}
                            </td>
                            <td>
                                <a href="{{ path('article_show', {'id': article.id}) }}">{{ article.nom }}</a>
                            </td>
                            <td>
                                {{ article.date_article|date('d-m-Y') }}
                            </td>
                            <td>
                                {{ article.content|u.truncate(220,'...') }}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="2">Rien trouvé</td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
        </div>
    </div>

{% endblock %}
