<a href="{{ path('album_index') }}" class="btn btn-primary" role='button'><i class="ti ti-list"></i>
    Retour à la liste
</a>
{% if is_granted('ROLE_PRESSE_ADMIN') %}
    <a href="{{ path('article_new', { 'id': album.id }) }}" role="button"
       class="btn btn-primary"><i class="ti ti-plus"></i> Ajouter des articles</a>

    {% if album.parent is null %}
        <a href="{{ path('album_add_child', { 'id': album.id }) }}" role="button"
           class="btn btn-primary"><i class="ti ti-plus"></i> Ajouter un sous album</a>
    {% endif %}

    <a href="{{ path('presse_notifier', { 'id': album.id }) }}" role="button"
       class="btn btn-success"><i class="ti ti-edit"></i> Notifier</a>

    <a href="{{ path('album_edit', { 'id': album.id }) }}" role="button"
       class="btn btn-primary"><i class="ti ti-edit"></i> Editer</a>

    <button type="button" class="btn btn-danger" role='button' data-bs-toggle="modal" data-bs-target="#deleteModal"><i
                class="ti ti-trash"></i>
        Supprimer l'album
    </button>
{% endif %}
<br/>
<br/>