{% if articles|length > 0 %}
    <h3 class="text-success">Articles de presse</h3>
    <hr>
    <div id="lightgallery" data-controller="gallery" class="d-grid"
         style="grid-template-columns: repeat(2, 1fr); gap: 2rem;">
        {% for article in articles %}
            <div class="card"
                 data-src="{{ vich_uploader_asset(article, 'file') }}"
                 data-sub-html="#caption{{ article.id }}">
                <h4 class="card-header">{{ article.nom }}</h4>
                <div class="card-body d-flex justify-content-center">
                    {% if article.fileName is defined %}
                        <a href="{{ vich_uploader_asset(article, 'file') }}" title="{{ article.nom }}"
                           class="me-2">
                            {% if 'image' in article.mime %}
                                <img src="{{ vich_uploader_asset(article, 'file')| imagine_filter('miniature') }}"
                                     alt="img"
                                     class="img-thumbnail mb-2 ">
                            {% else %}
                                <i class="fas fa-download"></i> Télécharger<br/>
                                <span class="text-muted">({{ article.mime }})</span>
                                <p>Faite un clic droit "Ouvrir dans un nouvel onglet"</p>
                            {% endif %}
                        </a>
                    {% else %}
                        <p>Pas de pièce jointe</p>
                    {% endif %}
                </div>
                <div class="card-footer">
                    {% if article.fileName is defined %}
                        <div id="caption{{ article.id }}" style="display:none">
                            <h4>{{ article.nom }}</h4>
                            <p>{{ article.description }}</p>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>

    {# CAPTIONS #}
    {% for article in articles %}
        {% if article.fileName is defined %}
            <div id="caption{{ article.id }}" style="display:none">
                <h4>{{ article.nom }}</h4>
                <p>{{ article.description }}</p>
            </div>
        {% endif %}
    {% endfor %}
{% endif %}