{% extends '@AcMarchePresse/base.html.twig' %}

{% block body %}

    <div class="card bg-light mb-3">
        <div class="card-header">
            <h2>Nouvelle album {% if album.parent %} dans {{ album.parent.niceName }} {% endif %}</h2>
        </div>
        <div class="card-body">
            {{ form_start(form) }}
            {{ form_errors(form) }}
            {{ form_widget(form) }}
            <button class="btn btn-primary" type="submit"><i class="far fa-save"></i> Sauvegarder</button>
            {{ form_end(form) }}
        </div>
        <div class="card-footer text-end">
            {% if album.parent %}
                {% if album.parent.id %}
                    <a href="{{ path('album_show', {'id': album.parent.id}) }}">
                        {{ album.parent }}
                    </a>
                {% else %}
                    <a href="{{ path('album_index') }}"><i class="fas fa-arrow-left"></i> Annuler</a>
                {% endif %}
            {% endif %}
        </div>
    </div>

{% endblock %}
