{{ form_start(form) }}
{{ form_errors(form) }}
{{ form_row(form.subject) }}
{{ form_row(form.text) }}
{{ form_row(form.file) }}
<button class="btn btn-primary" type="submit"><i class="ti ti-brand-telegram"></i> Envoyer</button>
{{ form_end(form) }}
