{% extends '@AcMarchePresse/base.html.twig' %}

{% block body %}
    <div class="card mb-3">
        <div class="card-header">

            <div class="row">
                <div class="col-8">
                    <h3>Liste des destinataires</h3>
                </div>
                <div class="col-4">
                    <a class="float-right btn btn-primary" href="{{ path('presse_destinataire_new') }}">
                        <i class="fas fa-plus"></i> Ajouter</a>
                </div>
            </div>
        </div>
        <div class="card-body">

            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Email</th>
                </tr>
                </thead>
                <tbody>
                {% for destinataire in destinataires %}
                    <tr>
                        <td>
                            <a href="{{ path('presse_destinataire_show', {'id': destinataire.id}) }}">
                                {{ destinataire.nom }} {{ destinataire.prenom }}</a>
                        </td>
                        <td>
                            {{ destinataire.email }}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="2">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
